*~
*.o
*.a
*.lo
*.la
*.so
*.qm
*.pyc
*.dylib
*.dll
*.DS_Store
*.directory
*.autosave
*.moc.cc
*.ui.h
*.qrc
*.qrc.cc
*.exe
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.opensdf
*.sdf
*.sln
*.user
*.cbp
*.suo
*.lib
*.ilk
*.pdb
*.build

*.manifest
*.embed.manifest
*.embed.manifest.res
*.intermediate.manifest
*.resource.txt

*Makefile
*CMakeFiles
*CMakeScripts
*cmake_install.cmake
*CMakeCache.txt
*CTestTestfile.cmake
*.dir

doc/doxygen
bin/
lib/
build/
cache/
Testing/
Win32/
Debug/
Release/
